[Security] Don't pass OAuth tokens to a third party server!

This issue is a request to fix the OAuth implementation such that OAuth tokens are *never* shared with any servers other than:

1. My wordpress server (on which this plugin is installed) and
2. Stripe's servers

## The Problem

Unfortunately, I recently learned that this plugin uses your own server (api.woocommerce.com) to obtain the OAuth bearer tokens, and then send the new refresh/access tokens back to the wordpress server.

>  During the connection flow, some communication is proxied through WooCommerce.com servers for authorization purpose...OAuth tokens may temporarily pass through WooCommerce.com servers

 * https://wordpress.org/support/topic/why-woocommerce-inc-will-be-able-to-see-and-manage-your-account/#post-18401793

Even though the tokens are stored *only* on my wordpress server (~they are *not* stored on Automattic's servers~*), they are still *seen* by a third party (besides [1] my server and [2] Stripe). This is obviously a security risk.

\* Actually, according to the Stripe documentation, the developer *does* [need to store access tokens for each of our accounts](https://docs.stripe.com/stripe-apps/plugins/decide-migration#compare-authentication-types-for-stripe-apps), but this might just be poorly written docs

## The Solution

All OAuth communication should *only* involve two organization's servers

1. My org (the wordpress server where this plugin is installed)
2. The Stripe org's servers

Please fix the OAuth implementation to prevent any OAuth-related packets from being transmitted through any third-party servers (including Automattic's).

That's really scary, I've been putting of re-authenticating the live site that I run because of an inability to test with the new auth mechanism. Having read this, I'm extremely reluctant to go ahead and take the risk of switching. We need API keys back ASAP.

@maltfield Aren't Stripe Payment Plugin for WooCommerce (by WebToffee) and WooCommerce Stripe Payment Gateway two different plugins?

@ehclau yes they are, sorry. I've updated the ticket.

That was just the first plugin I realized that had this problem, but it's actually a fundamental issue with Stripe's implementation of OAuth. The issue (sharing the access key with the dev server) applies to this plugin too, as it's how Stripe Connect works.

The difference is that the domain where our access tokens are shared is with. In this plugin, all of our (non-expiring!) access tokens are shared back to this fixed URI before being passed down to our servers:

 * https://api.woocommerce.com/stripe/oauth-redirect

> That's really scary, I've been putting of re-authenticating the live site that I run because of an inability to test with the new auth mechanism. Having read this, I'm extremely reluctant to go ahead and take the risk of switching. We need API keys back ASAP.

@ehclau I'd like to point out that Stripe no longer allows generic API Keys, as of September 30, 2024

 * https://docs.stripe.com/stripe-apps/plugins/decide-migration

**They *do* allow Restricted API Keys**

So, just to be clear to the devs: that's what they're asking for. Support for *Restricted* API Keys.

There's been some misinformation about OAuth provided by the support team:

 * https://wordpress.org/support/topic/why-woocommerce-inc-will-be-able-to-see-and-manage-your-account/#post-18401793

Yesterday, lovingbro said:

> During the connection flow, some communication is proxied through WooCommerce.com servers for authorization purposes. This is required for OAuth...

This is not true. OAuth does *not* require sharing access tokens with a third party.

OAuth supports many different flows. Currently it appears that Stripe is using an “Authorization Code” Grant.

This is documented in Stripe’s OAuth reference documentation here:

```
    curl https://connect.stripe.com/oauth/token \
    -u sk_test_MgvkTWK1jRG3olSRx9B7Mmxo: \
    -d “code”=”ac_123456789” \
    -d “grant_type”=”authorization_code”
```

source: https://docs.stripe.com/connect/oauth-reference#post-token-request

Authorization Code Grants are defined in RFC 6749 (The OAuth 2.0 Authorization Framework), Section 4.1 (Authorization Code Grant):

 * https://www.rfc-editor.org/rfc/rfc6749.html#section-4.1

This isn’t the appropriate flow for this plugin. And, as documented above, it exposes your users (and you too!) to unnecessary risk.

The appropriate OAuth Flow that you *should* be using here uses the “Client Credentials” Grant, as documented in RFC 6749 Section 4.4 (Client Credentials Grant):

 * https://www.rfc-editor.org/rfc/rfc6749.html#section-4.4

The Client Credentials Flow is Machine-to-Machine. There is no need to have any `redirect_uri` of any kind (static or dynamic), and there is no need to include a third party’s servers in the OAuth flow at all.

So one solution to this security issue is to change to a flow type that doesn't unnecessarily leak the access key to a third party.

But OAuth is complicated.  I think the best short-term mitigation is to just let users use Restricted API Keys, which are more secure (and faster/less cumbersome to implement).

> [@ehclau](https://github.com/ehclau) I'd like to point out that Stripe no longer allows generic API Keys, as of September 30, 2024
> 
>     * https://docs.stripe.com/stripe-apps/plugins/decide-migration
> 
> 
> **They _do_ allow Restricted API Keys**
> 
> So, just to be clear to the devs: that's what they're asking for. Support for _Restricted_ API Keys.

I'm unsure what the keys I'm using are because I don't have access to the Stripe account, however they are still working so I assume  that they were either set up as restricted or pre-existing un-restricted ones are continuing to function. Stripe is pestering us to "upgrade" to oauth. However, going forward a restricted API key would be just fine, since this would also to solve the problem of test systems which accounts staff have no access to, making it impossible to actually set up the Stripe plugin in test mode. I don't get why Stripe are trying to force this Ouath flow on us, I also use Cybersource and they aren't doing this.

> I'm unsure what the keys I'm using are because I don't have access to the Stripe account

Restricted API Keys are easy to identify; they start with `rk_`

>  I don't get why Stripe are trying to force this Ouath flow on us

My best-guess is that their product team wants a consistent GUI UX for "simpler onboarding" at the *expense* of better security

But I think most orgs would prefer the "bad UX" (create the keys ourselves, copy them to the website manually, and setup webhooks manually) -- if it means our super-secret Stripe API credentials will *not* get leaked to a third party.

fyi, I found a few Stripe payment gateway plugins for woocommerce that explicitly says they support Restricted API Keys,

 * https://wordpress.org/support/topic/support-for-stripe-restricted-api-keys-4/
 * https://wordpress.org/support/topic/support-for-stripe-restricted-api-keys-11/
 * https://wordpress.org/support/topic/support-for-stripe-restricted-api-keys-7/
 * https://wordpress.org/support/topic/support-for-stripe-restricted-api-keys-13

I have not tested these yet.

This is definitely still a security issue.

This is definitely still an outstanding security issue.